    <section>
      <div class="col-md-12">
        <div class="row">
          <ul class="list-unstyled">
            <h3>Create Post</h3>
            <!-- Note Title -->
            <div class="mb-2">
              <input type="email" class="note-title form-control" placeholder="Post Title" maxlength="28" type="text" />
            </div>
            <!-- Note Content -->
            <div class="mb-0">
              <textarea class="note-textarea form-control" rows="10" placeholder="Post Content"></textarea>
            </div>
          </ul>
          <div>
            <button type="button" id="create-post" class="btn btn-success btn-lg">Create</button>
          </div>
        </div>
      </div>
    </section>

    <script src="/javascript/createPost.js"></script>