    <div class="container mt-5 mb-5">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
          <div class="login-check"></div>
          <div class="card px-5 py-5 bg-dark bg-gradient">
            <h3 class="text-white">Honest Tech</h3>
            <div class="form-input pb-1"><input type="text" id="login-email" class="form-control" placeholder="Email" /></div>
            <div class="form-input pb-1"><input type="password" id="login-password" class="form-control" placeholder="Password" /></div>
            <button id="signin-button" class="btn btn-primary mt-2">Sign in</button>
            <div class="text-white text-center mt-4"><span>Need to Sign up?</span> <a href="/signup" class="text-decoration-none">Sign up</a></div>
          </div>
        </div>
      </div>
    </div>

    <script src="/javascript/authenticate.js"></script>